.c-configurator {
	@include antialias;
	line-height: 1.4;
	text-rendering: optimizeSpeed;
	
	font: {
		family: $text;
		size: #{$base-font-size}px;
		weight: $regular;
	}
	color: $c-navy;
	
	a {
		//@extend %anim;
		color: inherit;
		cursor: pointer;
		text-decoration: none;
		
		&:hover,
	    &:active,
	    &:focus {
	        color: inherit;
	        outline: none;
	    }
	}
	
	strong {
		font-weight: $bold;
	}
	

}

