.color-gray {
	color: $c-gray;
}



.color-green {
	color: $c-green;
}

.color-navy {
	color: $c-navy;
}

.color-red {
	color: $c-red;
}

.color-red--brighter {
	color: $c-red--brighter;
}


.bg-gray--darker {
	background-color: $c-gray--darker;
}

.bg-green {
	background-color: $c-green;
}

.bg-navy {
	background-color: $c-navy;
}