.o-btn {
	@extend %antialias;
	@extend %anim;
	@extend %rel;
	display: inline-block;
	position: relative;
	text-transform: uppercase;
	font-weight: $bold;
	cursor: pointer;
	color: white !important;
	white-space: nowrap;

	i {
		display: inline-block;
		margin-right: 5px;
		vertical-align: middle;
	}
	
	&--big {
		height: 56px;
		padding: 0 50px 0 50px;
		line-height: 56px;
		border-radius: 4px;
		font: {
			family: $bebas;
			size: em(45);
		}		
	}
	
	&--medium {
		box-shadow: rgba(black, .4) 0 2px 2px;
		padding: 8px 15px;
		border-radius: 8px;
		font-size: em(16);
	}
	
	&--small {
		padding: 8px 15px 5px 10px;
		border-radius: 4px;
		font: {
			family: $bebas;
			size: em(16.24);
		}
	}
	
	&.bg-navy:hover {
		background-color: darken($c-navy, 10%);
	}
	
	&.bg-green:hover {
		background-color: darken($c-green, 10%);
	}
	
	&.bg-gray--darker:hover {
		background-color: darken($c-gray--darker, 10%);
	}
	
	&.is-inactive {
		background-color: #b9b9b9;
		color: #f1f1f1;
		
		&:hover {
			background-color: #b9b9b9;
			color: #f1f1f1;
		}
	}
}
