.c-members {
	@extend %clear;

	&__item {
		float: left;
		width: grid(280, 1170 - 2*45);
		width: 280px;
		margin-bottom: 30px;
		
		@media screen and ( max-width: $grid-base-width + px ) {
			width: 50%;
		}
		
		&:nth-child(2n) {
			width: grid(700, $grid-base-width - 2*45);
			
			@media screen and ( max-width: $grid-base-width + px ) {
				width: 50%;
			}
			
			@media screen and ( max-width: 640px ) {
				width: 100%;
				
				br {
					display: none;
				}
			}
		}
		
		i {
			float: left;
		}
		
		&--dog {
			label {
				display: inline-block;
				margin-top: 10px;
			}
		}
		
	
@media screen and ( max-width: $grid-base-width + px ) {
			width: 50%;
		}

		@media screen and ( max-width: 640px ) {
			float: none;
			width: 100%;
			margin-bottom: 30px;
			@include clear;
		}
		
	}
	
	&__lead {
		@extend %clear;
		text-transform: uppercase;
		font: {
			family: $bebas;
			size: em(25);
		}
		
		&--big {
			font-size: em(47);
		}
	}
	
	&__select {
		float: left;
		
		p {
			@extend %clear;
			margin-bottom: 5px;
			font: {
				size: em(17);
				weight: $bold;
			}
		}
		
		.current {
			font-size: em(20);
		}
	}
}