.c-navbar {
	padding: 110px 40px 60px 40px;
	overflow: hidden;

	@media screen and ( max-width: $tablet + px ) {
		padding: {
			left: 60px;
			right: 60px;
		}
	}
	
	@media screen and ( max-width: $smartphone +px ) {
		padding: {
			left: 0;
			right: 0;
		}
	}

	&__line {
		@extend %rel;
		height: 10px;
		background-color: $c-gray--brighter;
		box-shadow: rgba(black, .3) 0 2px 3px inset;
		display: flex;
		justify-content: space-between;
	}
	
	&__step {
		position: relative;
		bottom: 12px;
		width: grid(120, 1070 - 40 - 40 - 45 - 45);	
		
		&:first-child {
			left: -60px;

			@media screen and ( max-width: $tablet + px ) {
				left: auto;				
			}		
		}
		
		&:nth-child(2) {
		
			&:after {
				width: calc(260% - 60px);
				
				@media screen and ( max-width: $tablet_portrait + px ) {
					width: calc(225%);
				}
			}
		}
		
		&:nth-child(3) {

		}
		
		&:last-child {
			right: -60px;
			
			@media screen and ( max-width: $tablet + px ) {
				right: auto;
			}
			
			@media screen and ( max-width: $smartphone +px ) {
				right: auto;
			}
		}
		
		&:after {
			@extend %abs-after;
			@extend %anim;
			transition-duration: 500ms;
			transform-origin: left ;
			left: 76px;
			left: 60%;
			top: 12px;
			background-color: $c-navy;
			height: 10px;
			transform: scaleX(0);
			
			width: 260%;
			
			@media screen and ( max-width: $tablet + px ) {
				width: calc(260% - 60px);
			}
			
			@media screen and ( max-width: $tablet_portrait + px ) {
				width: calc(225%);
			}
		}

		&.is-active--line {
			&:not(:last-child) {
				&:after {
					transform: scaleX(1);
				}
			}
		}		
	}

	&__dot {
		@extend %rel;		
		z-index: 10;
		width: 34px;
		height: 34px;
		background-color: $c-gray--brighter;
		border-radius: 50%;
		box-shadow: rgba(black, .2) 0 2px 2px inset;
		margin: 0 auto;
		display: flex;
		align-items: center;
		text-align: center;
		justify-content: center;

		.is-active & {
			@extend %anim;
			transition-delay: 500ms;
			background-color: $c-navy;
		}		

		i {
			
			
			background: linear-gradient(#aadb41 0%, #86bd11 100%);
			//display: none;
			opacity: 0;
			width: 16px;
			height: 16px;
			border-radius: 50%;
			
			.is-active & {
				@extend %anim;
				transition-delay: 500ms;
				opacity: 1;
			}
			
			.is-dot-inactive & {
				
				background: $c-navy;
			}
		}
	}	
	
	&__title {
		@extend %abs;
		left: 50%; top: -90px;
		transform: translateX(-50%);
		text-align: center;
		white-space: nowrap;		
		
		i {
			margin: 0 auto 5px auto;
		}

		span {
			font-size: em(15);
			font-weight: $bold;
			color: $c-gray;
			
			.is-active & {
				color: $c-navy;
			}
			
			@media screen and ( max-width: 640px ) {
				display: none;
			}
		}
	}
	
	.ic-home-active,
	.ic-people-active,
	.ic-bus-active,
	.ic-plus-active {
		display: none;
	}
		
	.is-active {
		.ic-home,
		.ic-people,
		.ic-bus,
		.ic-plus {
			display: none;
		}
		
		.ic-home-active,
		.ic-people-active,
		.ic-bus-active,
		.ic-plus-active {
			display: block !important;
		}
	}
}
