.c-term {
	@extend %clear;
	margin-bottom: 40px;
	//display: none;
	
	@media screen and ( min-width: 641px ) {
		display: flex;
		justify-content: space-between;
	}
	
	&__error {
		margin-bottom: 10px;
	}
	
	&__item {
		width: 310px;

		@media screen and ( min-width: 641px ) and ( max-width: $grid-base-width + px ) {
			width: grid(310, 1070 - 45 - 45);
		}
		
		@media screen and ( max-width: 640px ) {
			width: 100%;
		}
	}
	
	&__lead {
		margin-bottom: 5px;
		font: {
			size: em(17);
			weight: $bold;
		}
	}
	
	.nice-select {
		margin-bottom: 5px;
	}

	.calendar {
		.current {
			position: relative;
			padding-left: 35px;

			&:before {
				@extend %abs-after;
				@include ic-calendar-mixin;
				left: -10px; top: -8px;
			}
		}
		
		&.open {
			.current {
				&:before {
					@include ic-calendar-active;
				}
			}		
		}
	}
}