// Colors

$c-black:			#111;

$c-gray:			#979797;
$c-gray--darker:	#d6d6d6;
$c-gray--brighter:	#e0e0e0;
$c-gray--brightest:	#f4f4f4;

$c-green:			#95d212;

$c-navy:			#22234c;

$c-red:				#f50b09;
$c-red--brighter:	#ff0100;
