// Fonts
$arial:			'Arial', sans-serif;
$bebas:			'bebas';
//$icomoon:		'icomoon';


// Font weights
$regular:			400;
$bold:				700;

// Default
$text:				$arial;
$base-font-size:	14;
$grid-base-width:	1070;
